# Byte-compiled / optimized / virtual environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Temporary conversion files
*.mp3
*.mp4
*.webm
*.part
*.ytdl

# Operating System & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
